@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 1280px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-navigation {
  display: flex;
  padding-right: 70px;
  padding-left: 70px;
  justify-content: space-between;
}

.logo-sedona {
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 390px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  margin: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-item .button {
  display: block;
  text-align: center;
  width: 160px;
  margin: 14px 0;
  padding: 9px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.main-image {
  background-color: #c0b0b0;
  background-image: url("../images/sedona-mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  margin: 0 auto;
}

.sedona-reasons {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.reasons-five {
  color: #333333;
}

.feature-list {
  list-style-type: none;
}

.reality-list {
  list-style-type: none;
}

.item-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.item {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.item-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.reality-item-name {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.reality-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search-hotel {
  padding: 91px 304px 93px;
}

.interested {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.arrival-date {
  margin: 29px 0 56px;
  text-align: center;
  color: #333333;
}

.button-search {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 12px 15px;
  width: 544px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
}

.subscription {
  padding: 94px 200px;
}

.subscription-main {
  background-color: #c0b0b0;
  background-image: url("../images/background-sudscription.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-catalog {
  color: #000000;
}

.newsletter-text {
  text-align: center;
  color: #ffffff;
}

.newsletter-text-catalog {
  color: #000000;
}

.newsletter-form {
  display: flex;
}

.newsletter-mail {
  width: 600px;
  height: 60px;
  border: 0;
  padding: 0;
}

.newsletter-mail-catalog {
  background: #f2f2f2;
}

.newsletter-button {
  width: 200px;
  border: 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
}

.page-footer-container {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-top: 34px;
  list-style-type: none;
}

.footer-social-item {
  min-width: 40px;
  min-height: 40px;
}

.footer-contacts {
  margin: 30px auto 40px;
}

.footer-contacts-phone {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.logo-academy {
  width: 115px;
  margin-top: 38px;
  margin-right: 70px;
}

.filter-hotels {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #c0b0b0;
  background-image: url("../images/background-filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.catalog-filter {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  justify-content: space-between;
}

.type-hotel {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.infrastructure {
  margin-right: 70px;
}

.filter-hotels-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.control-buttons {
  display: flex;
}

.price {
  margin: 0;
}

.buttons {
  margin: 0;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
}

.dayscount {
  font-size: 20px;
  line-height: 26px;
}

.apply {
  padding: 14px 15px;
  width: 160px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
}

.reset {
  background: none;
  border: 0;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.sorting-hotels {
  display: flex;
}

.found-hotels-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-hotels-list {
  display: flex;
  list-style-type: none;
}

.catalog-hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-title {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.price-hotels {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.more-detailed {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.to-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.rating-hotels-title {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  padding: 0;
  margin-left: 73px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 12px 24px;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.number-hotels-of-pages {
  margin-right: 71px;
}

.number-pages {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

.hotels-of-pages {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.number {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
